[Unit]
Description=ICE runner Lauch Autostart
After=network.target

[Service]
ExecStartPre=/bin/sh -c 'until ping -c1 10.8.0.1; do sleep 1; done;'
ExecStart=/bin/bash /home/asiia/Documents/work/ice_runner/start.sh -m 3000000 -i 3600 -e .env -v /home/pi/venv/
WorkingDirectory=/home/pi/ice_runner
Restart=on-failure
RestartSec=5
EnvironmentFile=/home/pi/ice_runner/.env
RemainAfterExit=true
Type=oneshot

KillMode=control-group
SendSIGKILL=yes
TimeoutStopSec=10

[Install]
WantedBy=default.target
