# common
netifaces
paho-mqtt
python-dotenv
PyYAML
requests
setuptools
# bot
aiogram>=3.16
apscheduler

# dronecan related
pyserial
python-can == 4.3
pydronecan
raccoonlab-tools

# rpi
RPi.GPIO

# ice_sim
numpy

# tests
pytest_mock
pytest
pytest-asyncio
