# common
netifaces
paho-mqtt
pytest
python-dotenv
PyYAML
pytest-asyncio
# bot
pyTelegramBotAPI
aiogram==3.16
apscheduler

# dronecan related
pyserial
python-can == 4.3
pydronecan
raccoonlab-tools

#rpi
RPi.GPIO
